.App {
  background-color: rgb(0 0 0);
  color: white;
  font-size: 14px;
  height: 100dvh;
}
.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

:focus {
  outline: none;
}
:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main-container {
  display: flex;
  justify-content: center;
  height: calc(100dvh - 50px);
  width: 100%;
}
.main-wrapper {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0;
}
@media (min-width: 768px) {
  .main-wrapper {
    max-width: 940px;
  }
  .main-container {
    margin-left: auto;
    width: calc(100dvw - 80px);
    height: 100dvh;
  }
}

@media (min-width: 1264px) {
  .main-container {
    width: calc(100dvw - 240px);
  }
}
